html{
  font-family: Verdana ,sans-serif;
}

body{
  text-align: center;
}

#container{
  width: 80%;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
  padding: 50px;
}

#stats{
  width: 70%;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 200pt;
  text-align: center;
}

#themes{
  position: absolute;
  right: 8%;
  cursor:pointer;
  padding: 2px;
  border: solid 1px;
  border-radius: 2px;
}
