html{
  font-family: Verdana ,sans-serif;
}
body{
  background-color: #ACBA85;
  text-align: center;
  color: #4E8858;
}
.container{
  width: 80%;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
  padding: 50px;
  /*background-color: #00BCD4;*/
}
#stats{
  width: 70%;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: #80B1CA;*/
  color: #436A3E;
  font-size: 200pt;
  text-align: center;
}
